<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
       <div class="navbar-header">
           <img src="{{ url_for('static', filename='images/logo.PNG')}}" class="navbar-left" alt="logo">
           <a class="navbar-brand" href="/">
               <strong>Food Tracker</strong>
           </a>
       </div>
        <div id="navbar" class="navbar-collapse collapse navbar-link center-block">
          <ul class="nav navbar-nav">
            <li class="{{ dclasshome }}"><a href="{{ url_for('home') }} ">Home</a></li>
            <li class="{{ dclassfood }}"><a href="{{ url_for('addfood') }}">Add Food Item</a></li>
          </ul>
        </div>
    </div>
</nav>