{% extends 'layouts/index.html'%}

{% block title %} {{ super() }} Home{% endblock %}

{% block content %}
    <div>
        <form method="POST" action="{{ url_for('home') }}">
            <div class="form-group">
                <label for="new-day">New Day</label>
                <input type="date" class="form-control" name="date" id="new-day">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

        <div class="page-header"></div>

        {% for result in results %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ result.pretty_date }}</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills" role="tablist">
                <li><a>Protein: <span class="badge">{{ result.protein }}</span></a></li>
                <li><a>Carbohydates: <span class="badge">{{ result.carbohydrates }}</span></a></li>
                <li><a>Fat: <span class="badge">{{ result.fat }}</span></a></li>
                <li><a>Calories: <span class="badge">{{ result.calories }}</span></a></li>
                <li><a href="{{ url_for('day', date=result.entry_date ) }}" type="button" class="btn btn-link">View Detail</a></li>
              </ul>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}